In [1]:
import pandas as pd
from pathlib import Path
import os

In [2]:
path = Path(r'D:\pro\AEE\JV Azouri & AEE Power\CAD\from')
path = path/'ap-emma.csv'
df = pd.read_csv(path)
df.head()

,Count,Name,Color,Hyperlink,Layer,Linetype,Linetype Scale,Lineweight,Plot Style,Position X,Position Y,Position Z,ALT,COD,MAT
0,1,Attribute Definition,ByLayer,NaN,TopoCod,ByLayer,1.0,ByLayer,ByLayer,421950.82,4806612.90,1835.29,NaN,NaN,NaN
1,1,TCPOINT,ByLayer,NaN,Points,ByLayer,1.0,ByLayer,ByLayer,422229.17,4806822.22,1754.29,1754.29,NaN,T.13
2,1,Attribute Definition,ByLayer,NaN,TopoAlt,ByLayer,1.0,ByLayer,ByLayer,421951.02,4806612.70,1835.29,NaN,NaN,NaN
3,1,Point,ByBlock,NaN,0,ByLayer,1.0,ByLayer,ByBlock,421950.92,4806613.00,1835.29,NaN,NaN,NaN
4,1,Attribute Definition,ByLayer,NaN,TopoMat,ByLayer,1.0,ByLayer,ByLayer,421951.02,4806613.10,1835.29,NaN,NaN,NaN

In [10]:
df = df[['Position X', 'Position Y', 'Position Z', 'MAT']]
df.dropna(inplace=True)
df

    Position X  Position Y  Position Z        MAT
1    422229.17  4806822.22     1754.29       T.13
6    422732.21  4807200.53     1757.49       T.15
14   421696.09  4806373.64     1739.05  T.10(N).1
16   421795.04  4806430.99     1794.03       T.11
18   421950.92  4806613.00     1835.29       T.12
27   423278.41  4807453.58     1759.16       T.18
32   423449.83  4807399.59     1718.01       T.19
36   422922.06  4807343.30     1740.54       T.16
44   423130.59  4807500.11     1722.19       T.17
46   420081.47  4805630.52     1557.64  T3(NEW).1
51   420399.54  4805711.95     1609.61        T.4
59   420630.08  4805770.97     1706.13        T.5
61   419617.36  4805580.09     1467.78        T.1
63   419765.16  4805549.54     1511.57        T.2
72   421305.02  4806147.04     1762.93        T.8
77   421464.63  4806239.53     1721.54   T.9(N).1
81   420780.76  4805854.93     1672.38        T.6
89   420998.88  4805976.47     1666.29        T.7

In [11]:
df.MAT.unique()

array(['T.13', 'T.15', 'T.10(N).1', 'T.11', 'T.12', 'T.18', 'T.19',
       'T.16', 'T.17', 'T3(NEW).1', 'T.4', 'T.5', 'T.1', 'T.2', 'T.8',
       'T.9(N).1', 'T.6', 'T.7'], dtype=object)

In [12]:
df.to_csv(path.parent/'ap_cleaned.txt', index=False, header=False)