In [1]:
import pandas as pd
from pathlib import Path

In [8]:
path = Path(r'D:\pro\AEE\symbion\CAD\from')
xls = path/'TOPO FULL Symbion.xlsx'
xls.exists()

True

In [11]:
df = pd.read_excel(xls, sheet_name=0, header=0, index_col=0)

In [12]:
df.head()

              Y           X         Z      CODE
ID
1   4805530.880  419632.706  1487.789        PC
2   4805531.746  419643.772  1491.256         P
3   4805531.745  419643.759  1491.250  PC FINCE
4   4805516.288  419637.621  1493.480   PC LINE
5   4805498.600  419632.068  1493.686        PC

In [14]:
df.to_csv(path/'new_topo.csv', header=False)

In [16]:
csv_data = pd.read_csv(path/'new_topo.csv')
csv_data.head()

   1   4805530.88  419632.706  1487.789        PC
0  2  4805531.746  419643.772  1491.256         P
1  3  4805531.745  419643.759  1491.250  PC FINCE
2  4  4805516.288  419637.621  1493.480   PC LINE
3  5  4805498.600  419632.068  1493.686        PC
4  6  4805503.721  419652.057  1502.922        PC